body,
html {
    width: 100%;
    height: 100%;
}

body,
h1 {font-size: 30px;},
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}



h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 30px; 
    font-weight: bold;
}

.topnav {
    font-size: 14px;
}

#piclayout {
    text-align: center;
    padding-left: 10%;
    padding-right:10%;
   
     margin-bottom: 50px; 
    
}

#textlayout {

    color: black bold;
    
    font-size: 25px;
    
}

#overlay {
     text-align: left;
     margin-left: 11em;
    margin-right:11em;
    margin-bottom: 200px; 
    
}
#teampic {
    width: 1200px;
    height: 500px;
    padding-top: 100px;
    position: center;
}
 



