body {
}
#MainPage {
  position:relative;
  top: 200px;
}

img{
  border:0;
}

.intro-header {
    padding-top: 200px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    background: url() no-repeat center center;
    background-size: cover;
}




.page-title {
  margin-bottom: 3px;
	font-family: 'Bookman Old Style'
}
.page-header {
  margin-top: 0px;
	font-family: 'Bookman Old Style'
}

#buttons{
  margin-top:20px;
  margin-left: 150px;
  float: center;

}

#Gbutton {
    padding: 12px 16px;
    font-size: 15px;
    border-radius: 5px;
}

#Mbutton {
    padding: 12px 16px;
    border-radius: 5px;
}

#Gbutton:hover{
  color: orange;
}

#Mbutton:hover{
  color: orange;
}


.event-time > h6 {
   font-size:22px;
   margin-bottom: 0px;
}

.event-time > h7 {
   font-size:17px;
   margin-bottom: 0px;
}



.event-time {
  position:relative;
  right: 15px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 3px;
	font-family: 'Bookman Old Style'
}

.event-location > h6 {
   font-size:22px;
   margin-bottom: 0px;
}

.event-location > h7 {
   font-size:17px;
   margin-bottom: 0px;
}

.event-location {
  float:center;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 3px;
	font-family: 'Bookman Old Style'
}



#SecondaryInfo{
  position:relative;
  left:30px;
  top:30px;
}



#details > h6 {
  border-top-style: solid;
  border-top-color: orange;
  padding-top: 20px;
   font-size:17px;
   margin-bottom: 0px;
}

#details {
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 3px;
	font-family: 'Bookman Old Style'
}


#AttCom{
  padding-top:20px;
  margin-top:50px;
  font-family: 'Bookman Old Style'
}


.AttendenceList{

}

.attendees ul {
	list-style:none;
	list-style-type: none;
}

.attendees li {
  margin-right: 15px;
  display: inline-block;
}


.MaybeList{
  position:relative;
  bottom:40px;
}

.Maybe{
}

.Maybe ul {
	list-style:none;
	list-style-type: none;
}

.Maybe li {
  margin-right: 15px;
  display: inline-block;
}

.CommentSection ul {
	list-style:none;
	list-style-type:none;
}

.comments li {
  margin-top:10px;
	display: inline;
}

.comments li > p{
   margin:0px;
   padding:0px;
}
