
#map {
  height: 600px;
  width: 100%;
}
.controls {
  border: 1px solid lightgray;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 4px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 180px;
  color: black;
  line-height: 32px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #000;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.gm-style .gm-style-iw {
  color: black;
}
