<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Puppy Squad</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/navbar.css" rel="stylesheet">

    <link href="../css/create_event.css" rel="stylesheet">
    <link href="../css/map.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <img class="logo" src="../img/logo.png"></img>
                <div class="app-name"><a href="#">Puppy Squad</a></div>
                <div class="subtitle">"San Diego's Premiere Dog Meetup Site!"</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <button type="button" class="btn" id="login">Login/Sign Up</button>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        <div class="navigation-app">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left" id="puppynav">
                    <li>
                        <a href="#about">Events</a>
                    </li>
                    <li>
                        <a href="#about">Create Event</a>
                    </li>
                    <li>
                        <a href="#about">About/FAQ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- Header -->
<a name="about"></a>
    <div class="intro-header">
      <div class="container">

        <div class="row">
          <div class="col-lg-8">
              <!--
            <div class="row">
              <div><img src = "img/dogs.jpg"></div><!-- /input-group 
            </div> -->

    <div class="row">
         <form>
            <div class="patrick row">
            <label for="example-text-input">Event Title</label>
                <input class="form-control" type="text" id="example-text-input">
            </div>

            <div class="patrick row">
            <label for="example-date-input">Date</label>
                <input class="form-control" type="date" id="example-date-input">
            </div>

           <br> </br>

            <form class="form-inline">
                <div class="patrick">
                    <label for="breed">Breed</label>
                    <select class="form-control" id="sel1">
                        <option selected="selected">Select Breed</option>
                        <option>Beagle</option>
                        <option>Corgi</option>
                        <option>French Bulldog</option>
                        <option>Great Dane</option>
                    </select>
                </div>
                <div class="patrick">
                    <label for="breed">Dog Size</label>
                    <select class="form-control" id="sel1">
                        <option selected="selected">Select Dog Size</option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                    </select>
                </div>
            </form>

            <div class="patrick row">
                <label for="example-date-input">Location</label>
                    <input class="form-control" type="text" id="example-date-input" placeholder="Address">
                    <input class="form-control" type="text" id="example-date-input" placeholder="City, State, Zipcode">
            </div>

           <br> </br>

            <div class="patrick">
                 <label for="example-date-input">Price</label>
                  <select class="form-control" id="sel1">
                    <option selected="selected">Select Price</option>
                    <option>Free</option>
                    <option>$</option>
                    <option>$$</option>
                    <option>$$$</option>
                  </select>
            </div>

           <br> </br>

        <div class="patrick row">
            <label for="description">Event Description</label>
            <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
        </div>


  <button type="submit" class="btn btn-primary">Publish Event</button>
         </form>
</div>
          </div>


          <div class="col-lg-4">
            <div id="map"></div>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; PuppySquad 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv460IEdNuuTaGtHUXOAPuTF8O5K7Xpx0&callback=initMap&libraries=places"
    async defer></script>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
