<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Puppy Squad</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/navbar.css" rel="stylesheet">

    <link href="../css/profilepage.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <img class="logo" src="../img/logo.png"></img>
        <div class="app-name"><a href="../index.html">Puppy Squad</a></div>
        <div class="subtitle">"San Diego's Premiere Dog Meetup Site!"</div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" id="loginnav">
          <li>
            <button type="button" class="btn" id="login" data-toggle="modal" data-target="#myModal">Login/Sign Up</button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="profilenav">
            <li>
              <a href="../views/profile_page.html">
                <img id="profile-pic" alt="Profile Picture" style="float:left; width:88px; height:81px">
              </a>
                <div class="btn-group">
                  <button type="button" id="profile-name" class="btn btn-primary"></button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="../views/profile_page.html">My Profile</a></li>
                      <li><a href="../views/accS.html">Account Settings</a></li>
                      <li><a onclick="logout()">Logout</a></li>
                  </ul>
                </div>
            </li>
        </ul>
      </div>

      <!-- /.navbar-collapse -->
    </div>

    <div class="navigation-app">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left" id="puppynav">
          <li>
            <a href="../index.html">Events</a>
          </li>
          <li>
            <a onclick="checkCreateEvent()">Create Event</a>
          </li>
          <li>
            <a href="./views/about.html">About/FAQ</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Login Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="closelogin()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modal-title">Login or Sign Up</h4>
        </div>
        <div class="modal-body">
          <form action="test.asp" method="post" id="logininfo">
            <div>
              <td><label for="Email">Email</label></td>
              <td><input id="email" type="text" name="Email" size="25"></td>
            </div>
            <div>
              <label for="c_password">Password</label>
              <input id="password" type="password" name="c_password" size="25">
            </div>
            <!-- Passwords Match, needs JS if implemented
            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
            -->
          </form>
          <div class="signup">
            <div id="signupquestion">
              No Account? Sign Up <a onclick="signup()">Here</a>!
            </div>
            <div id="signup">
              <a id="back-button" onclick="back()">
                <i class="fa fa-angle-left" aria-hidden="true"></i> Back
              </a>
              <form action="test.asp" method="post" id="form-signup">
                <div>
                  <td><label for="name">Full Name</label></td>
                  <td><input id="signupname" type="type" name="name" size="25"></td>
                </div>
                <div>
                  <label for="email">Email</label>
                  <input id="signupemail" type="text" name="email" size="25">
                </div>
                <div>
                  <label for="o_password">Password</label>
                  <input id="signuppassword" type="password" name="o_password" size="25" placeholder="">
                </div>
                <div>
                  <label for="n_password">Confirm Password</label>
                  <input id="confirmpassword" type="password" name="n_password" size="25" placeholder="">
                </div>
              </form>
            </div>
          </div>
          <div id="confirmation">
            Account made! Enjoy the site.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="loginbutton" onclick="login()">Login</button>
          <button type="button" class="btn btn-primary" id="signupbutton" onclick="signupconfirm()">Sign Up</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
      <div class="container">
          <img src="../img/profilePic.png" alt="Profile Picture" style="float:left; width:160px; height:160px">
          <h1 style="color:black; text-align:left">Jimmy Pesto</h1>
          <h2 style="color:black; text-align:left">jimmypesto@gmail.com</h2>
          <div class="row">
              <button type="button" class="btn" id="upload" style="color:black; float:left">Upload Photo</button>
          </div>
          <h3 style="color:black; text-align:left">My Dogs</h3>
          <div class="row">
              <img src="../img/puppy.jpg" alt="Dog Picture" style="float:left; width:120px; height:120px; border:solid">
              <img src="../img/therapy.jpg" alt="Dog Picture" style="float:left; width:120px; height:120px; border:solid">
              <img src="../img/pub.jpg" alt="New Dog Here" style="float:left; width:120px; height:120px; border:solid">
              <button type="button" class="btn" id="add" style="color:black; float:left; width:120px; height:120px; border:dashed">Click To Add</button>
          </div>
          <div class="row">
              <ul class="list-inline" style="float:left; color:black; word-spacing: 75px">
                  <li>Lucky</li>
                  <li>Journey</li>
                  <li>Fido</li>
              </ul>

          </div>
          <div class="row">
              <h3 style="color:black; text-align:left">My Attending Events</h3>
          </div>

        <div class="row">
          <div class="col-lg-8">

            <div class="row" id="events">
              <div class="col-lg-12" id="eventschild">
                <a href="../views/EventViewer.html"><div class="event" id="corgimeetup">
                  <img src="../img/corgi.jpg" class="event-image"></img>
                  <div class="event-title">Corgi Meetup</div>
                  <div class="event-time" id="today">Today
                    <br><span>12:00PM</span>
                  </div>
                </div></a>
                <a href="../views/EventViewer.html"><div class="event" id="adoptionmeetup">
                  <img src="../img/humane.jpg" class="event-image"></img>
                  <div class="event-title">Adoption Meetup</div>
                  <div class="event-time" id="today">Today
                    <br><span>10:00AM</span>
                  </div>
                </div></a>
                <a href="../views/EventViewer.html"><div class="event" id="puppypubcrawl">
                  <img src="../img/pub.jpg" class="event-image"></img>
                  <div class="event-title">Puppy Pup Crawl</div>
                  <div class="event-time" id="">9/05/16
                    <br><span>8:00PM</span>
                  </div>
                </div></a>
              </div>
            </div>

          </div>

        </div>

          <div class="row">
              <h3 style="color:black; text-align:left">My Created Events</h3>
          </div>
          <div class="row">
              <div class="col-lg-8">
                  <div class="row" id="events">
                      <div class="col-lg-12" id="eventschild">
                          <a href="../views/EventViewer.html">
                              <div class="event" id="petcoconvention">
                                  <img src="../img/petco.png" class="event-image"></img>
                                  <div class="event-title">Petco Convention</div>
                                  <div class="event-time">
                                      9/10/16
                                      <br><span>9:00AM</span>
                                  </div>
                              </div>
                          </a>
                          <a href="../views/EventViewer.html">
                              <div class="event" id="fluffytherapy">
                                  <img src="../img/therapy.jpg" class="event-image"></img>
                                  <div class="event-title">Fluffy Therapy</div>
                                  <div class="event-time">
                                      9/12/16
                                      <br><span>2:00PM</span>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>

      </div>


      <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
    <script src="../js/state.js"></script>
		<script src="../js/signup.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
